<!DOCTYPE html>
<html>

<head>
    <title>Activity</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" media="all" href="/static/css/activity.css">

</head>

<body>

<div class="base-container">
    <div class="container">

        <div class="header-content">
            <div class="profile-content block">
                <div><img
                        src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/6e/6e208699b2cf9433a30a8865a8f70d22cd214fa9_full.jpg"
                        style="width: 50px;height:50px"></div>
                <div>牛肉丸</div>
            </div>
            <div class="statics block">
                <div class="total">1995首</div>
                <div class="">3 小时前</div>
                <div><a href="/">首页</a></div>
            </div>
        </div>
        <header>日活图</header>
        <article>
            <div class="year-chart">
                <div class="col labels">
                    <div>
                        星期日
                    </div>
                    <div>
                        星期一
                    </div>
                    <div>
                        星期二
                    </div>
                    <div>
                        星期三
                    </div>
                    <div>
                        星期四
                    </div>
                    <div>
                        星期五
                    </div>
                    <div>
                        星期六
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </article>

        <header>时活图</header>
        <article class="player-activity">
            <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="0" width="923" height="250" strokeWidth="0" fill="transparent"
                      class=" highcharts-background"></rect>
                <g class="data-column" style="fill:rgb(122, 118, 0)"></g>
                <g class="data-label"></g>
                <div class="count-label"></div>
            </svg>
        </article>
        <div class="hour-chart">

        </div>
        <header>周活图</header>
        <article class="player-activity">
            <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <rect x="0" y="0" width="923" height="250" strokeWidth="0" fill="transparent"
                      class=" highchart-background"></rect>
                <g class="week-column"></g>
                <g class="week-label"></g>
                <div class="week-count"></div>
            </svg>
        </article>

    </div>
</div>


<script type="text/javascript">
    String.prototype.format = function () {
        if (arguments.length == 0) return this;
        for (var s = this, i = 0; i < arguments.length; i++)
            s = s.replace(new RegExp("\\{" + i + "\\}", "g"), arguments[i]);
        return s;
    };

    function render(activityDict, weekActivity) {
        var start = "2018-01-01";
        var date = new Date(start);
        var temp = "<div class='col'>";
        var month = ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"];
        var box = '<div class="day" rel="neighbour-tooltip" data-hasqtip="372"><div class="inner matches-3" style="color: rgb(10,230,0); font-size: {0}%;" ><i class="fa fa-circle"></i></div></div>';
        var tip = '<div class="year-chart-tooltip"> <h3>{0}</h3>Record: <span style="color: #A9CF54">{1}</span> </div>';
        var prem = 0;
        var w = date.getDay();
        //填充年初前几天
        for (var i = 0; i < w; i++) {
            temp += box.format(0);
        }
        for (var i = 0; i < 366; i++) {

            var m = date.getMonth() + 1;
            var y = date.getFullYear();
            var d = date.getDate();
            var w = date.getDay();
            if (d < 10)
                d = "0" + d;
            var mm = y + "-" + m + "-" + d;
            var size = 0;
            if (activityDict.hasOwnProperty(mm)) {
                console.log(mm);
                console.log(activityDict[mm]);
                size = activityDict[mm] * 2;
                {#size= (size<120?120:size);#}
                if (weekActivity.hasOwnProperty(w)) {
                    weekActivity[w] += activityDict[mm];
                }
                else
                    weekActivity[w] = 1;
            }
            var week = date.getDay();
            var tipInfo = tip.format(mm, size == 0 ? size : activityDict[mm]);
            //换列
            if (week == 6 || (m == 12 && d == "31")) {
                temp += box.format(size) + tipInfo + "</div>";
                $(".year-chart").append(temp);
                temp = "<div class='col'>";

            } else
                temp += box.format(size) + tipInfo;
            //如果换月
            if (prem != m) {
                temp += '<div class="month">' + month[m - 1] + '</div>';
                prem++;
            }
            date.setDate(date.getDate() + 1);

        }
    }

    function renderHour(hourActivity) {
        var rect = '<rect x={0} y={1} width={2} height={3} fill="rgb(122,118,0)" rx="0" ry="0"></rect>';
        var label = '<text x={0} y={1} style="color:#525252;cursor:default;font-size:11px;fill:#525252;width:120px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)"  opacity="1">{2}</text>';
        var countLabel = '<div class="null" style="position: absolute; left: {0}px; top: {1}px;">{2}</div>'
        var containerLength = $('.player-activity').width();
        var piece = containerLength / 30;
        var width = piece;
        var margin = piece * 6 / 25;
        var startx = margin;
        var starty = 60;
        var maxHeight = 220;
        var maxCount = 90;
        var count = 0;
        var col = "";
        var svglabel = "";
        for (var i = 0; i < 24; i++) {
            if (hourActivity.hasOwnProperty(i)) {
                count = hourActivity[i];
            }
            else
                count = 0.5;
            var height = count * 16 / 9;
            var tmpy = maxHeight - height
            col += rect.format(startx, tmpy, width, height);
            {#$(".data-column").append(rect.format(startx,tmpy,width, height));#}
            svglabel += label.format(startx + width / 2, maxHeight + 20, i + "时");
            {#$(".data-label").append(label.format(startx+width/2,maxHeight+20, i));#}
            $(".count-label").append(countLabel.format(startx + width / 2 - 5, tmpy - 15, count == 0.5 ? "" : hourActivity[i]));

            // $("svg").append(rect);
            startx += margin + width;
        }
        {#$("svg").html($("svg").html());#}
        $(".data-label").html(svglabel);
        $(".data-column").html(col);
    }


    function renderWeek(weekActivity) {
        var rect = '<rect x={0} y={1} width={2} height={3} fill="rgb(122,118,0)" rx="0" ry="0"></rect>';
        var label = '<text x={0} y={1} style="color:#525252;cursor:default;font-size:11px;fill:#525252;width:120px;text-overflow:clip;" text-anchor="middle" transform="translate(0,0)"  opacity="1">{2}</text>';
        var countLabel = '<div class="null" style="position: absolute; left: {0}px; top: {1}px;">{2}</div>'
        var containerLength = $('.player-activity').width();
        var piece = containerLength / 10;
        var width = piece;
        var margin = piece * 3 / 8;
        var startx = margin;
        var starty = 60;
        var maxHeight = 220;
        var maxCount = 90;
        var count = 0;
        var dayDict = ["星期一", "星期二", "星期三", "星期四", "星期五", "星期六", "星期日",]
        var hist = "";
        var svglabel = "";
        for (var i = 0; i < 7; i++) {
            if (weekActivity.hasOwnProperty(i)) {
                count = weekActivity[i];
            }
            else
                count = 0.5;
            var height = count * 180 / 150;
            var tmpy = maxHeight - height
            hist += rect.format(startx, tmpy, width, height);
            {#$(".week-column").append(rect.format(startx,tmpy,width, height));#}
            svglabel += label.format(startx + width / 2, maxHeight + 20, dayDict[i]);
            {#$(".week-label").append(label.format(startx+width/2,maxHeight+20, dayDict[i]));#}
            $(".week-count").append(countLabel.format(startx + width / 2 - 5, tmpy - 15, count == 0.5 ? "" : weekActivity[i]));

            // $("svg").append(rect);
            startx += margin + width;
        }
        $(".week-column").html(hist);
        $(".week-label").html(svglabel);
        {#$("svg").html($("svg").html());#}
    }

    var activityDict = new Array();
    var hourActivity = new Array();
    var weekActivity = new Array();
    $(document).ready(function () {
        //填充天数据
        $.ajax({
            type: "GET",
            url: "/api/activity",
            dataType: "json",
            async: true,
            success: function (data) {
                $.each(data, function (i, item) {
                        activityDict[item['day']] = item['available'];
                    }
                )
                render(activityDict, weekActivity);
                renderWeek(weekActivity);
                $(".day").hover(function (event) {
                    console.log($(this).next());
                    $(this).next().show();
                }, function () {
                    $(this).next('.year-chart-tooltip').hide();
                })
            }

        })
        //填充时间段数据
        $.ajax({
            type: "GET",
            url: "/api/hourActivity",
            dataType: "json",
            async: true,
            success: function (data) {
                $.each(data, function (i, item) {
                        hourActivity[item['hour']] = item['available'];
                    }
                )
                renderHour(hourActivity);
                /*$(".day").hover(function (event) {
                    console.log($(this).next());
                    $(this).next().show();
                }, function () {
                    $(this).next('.year-chart-tooltip').hide();
                })*/
            }

        })
    });

</script>
</body>

</html>